---
import { getCollection } from "astro:content";
import Layout from "@layouts/layout.astro";
import Sectionhead from "@components/sectionhead.astro";
import Entry from "@components/blog/entry.astro";
import AboutYourProject from "@components/about-your-project.astro";

import { getLangFromUrl } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);

const publishedBlogEntries = (
  await getCollection("blog", ({ data }) => {
    return !data.draft && data.lang === lang && data.publishDate < new Date();
  })
)
  .sort(function (a, b) {
    return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
  })
  .slice(0, 3);
---

<Layout title="Blog">
  <Sectionhead
    section="Blog"
    title="The latest articles and news"
    description="Stay up-to-date with the latest industry news and interesting healpful articles."
  />
  <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="space-y-24 lg:space-y-32">
        {publishedBlogEntries.map((blog) => <Entry blog={blog} />)}
      </div>
    </div>
  </div>

  <AboutYourProject />
</Layout>
