---
import Link from "./ui/link.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import ecommerceImage from "@assets/imagen-tienda-online-murcia.webp";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";
import Container from "./ui/container.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Container>
  <div
    class="mt-6 block max-w-5xl font-display text-3xl font-medium tracking-tight text-neutral-950 [text-wrap:balance] sm:text-4xl">
    <h2>{t("briefEcommerceInfo.title")}</h2>
  </div>
  <div
    class="flex flex-col lg:flex-row justify-between mx-auto max-w-2xl lg:max-w-none gap-12 mt-8">
    <div class="max-w-2xl">
      <div class="mt-6 text-xl text-neutral-600">
        <div class="flex flex-col gap-3.5">
          <span set:html={t("briefEcommerceInfo.firstP")} />
          <span set:html={t("briefEcommerceInfo.secondP")} />
        </div>

        <div class="flex mt-10">
          <Link href={getRelativeLocaleUrl(lang, "/contacto")}>
            {t("briefEcommerceInfo.cta")}
          </Link>
        </div>
      </div>
    </div>
    <Image
      alt="Tienda Online Murcia Imagen"
      width={450}
      height={400}
      loading="lazy"
      class="rounded-xl"
      src={ecommerceImage}
    />
  </div>
</Container>
