---
// @ts-ignore
import { Icon } from "astro-icon";
import Container from "./container.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const features = [
  {
    title: t("features.visibility.title"),
    description: t("features.visibility.description"),
    icon: "mdi:eye",
  },
  {
    title: t("features.presence.title"),
    description: t("features.presence.description"),
    icon: "bx:bxs-star",
  },
  {
    title: t("features.audience.title"),
    description: t("features.audience.description"),
    icon: "fluent:people-20-filled",
  },
  {
    title: t("features.instantInfo.title"),
    description: t("features.instantInfo.description"),
    icon: "bi:info",
  },
  {
    title: t("features.onlineSolutions.title"),
    description: t("features.onlineSolutions.description"),
    icon: "ion:card",
  },
  {
    title: t("features.differentiation.title"),
    description: t("features.differentiation.description"),
    icon: "uil:user-exclamation",
  },
];
---

<Container>
  <div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-medium lg:tracking-tight">
      {t("features.primary")}
    </h2>
    <p class="text-lg mt-4 text-slate-600">
      {t("features.secondary")}
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Container>
