---
// @ts-ignore
import { Icon } from "astro-icon";
import Container from "./container.astro";

const features = [
  {
    title: "Mayor visibilidad",
    description:
      "Desarrollamos sitios web aptos para móviles que no solo atraen, sino que retienen a los visitantes convirtiéndolos en clientes reales de tu negocio.",
    icon: "mdi:eye",
  },
  {
    title: "Mejor presencia",
    description:
      "Mejoramos la presencia de tu negocio en línea, haciendo que este se posicione por encima de otros en las búsquedas de los usuarios.",
    icon: "bx:bxs-star",
  },
  {
    title: "Expandir audiencia",
    description:
      "Amplia experiencia en la traducción a idiomas, atrayendo así al público extranjero a tu negocio tras proporcionar sus idiomas en tu web.",
    icon: "fluent:people-20-filled",
  },
  {
    title: "Información instantánea",
    description:
      "Los usuarios obtienen información instantánea sobre tu negocio sin tiempo de espera, aumentando así la conversión de visitante a cliente.",
    icon: "bi:info",
  },
  {
    title: "Soluciones online",
    description:
      "Facilitamos al cliente acciones como reservas, consultas, pasarelas de pago…",
    icon: "ion:card",
  },
  {
    title: "Diferencia de la competencia",
    description:
      "Destaca entre la competencia local al tener una presencia en línea profesional y completa.",
    icon: "uil:user-exclamation",
  },
];
---

<Container>
  <div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-medium lg:tracking-tight">
      ¿Qué beneficios te dará tener tu propia web?
    </h2>
    <p class="text-lg mt-4 text-slate-600">
      Desbloquea el potencial de tu negocio con Webllope. Nos especializamos en
      resolver desafíos digitales complejos, para que puedas centrarte en hacer
      crecer tu negocio.
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Container>
