---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const clients = await getCollection("clients")

// TODO: we have to make this images have the correct size originally, avoiding changing it with css which causes bad performance (cuando sepamos los logos y tal lo haremos)
---

<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
  <div class="mx-auto max-w-2xl lg:max-w-none">
    <div style="opacity: 1; transform: none;">
      <h3 class="font-display text-2xl font-semibold text-neutral-950">
        {t("ourWork.goodHands")}
      </h3>
    </div>
    <div class="mt-10">
      <div
        class="relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px"
        style="opacity: 1; transform: none;">
      </div><ul
        class="grid grid-cols-2 gap-x-8 gap-y-12 sm:grid-cols-3 lg:grid-cols-4">
        {clients.map
          (client => (
            <li class="group">
              <div class="overflow-hidden" style="opacity: 1; transform: none;">
                <div
                  class="pt-12 group-[&:nth-child(-n+2)]:-mt-px sm:group-[&:nth-child(3)]:-mt-px lg:group-[&:nth-child(4)]:-mt-px relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                  <Image
                    alt={client.data.name + 'Image'}
                    loading="lazy"
                    width="184"
                    height="36"
                    src={client.data.logos.light}
                    class="object-contain w-[185px] h-[60px]"
                    style="color: transparent;"
                  />
                </div>
              </div>
            </li>
          ))}
      </ul>
    </div>
  </div>
</div>
