---
import Background from "./background.astro";
import heroImage from "@assets/heroImage.webp";
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<main class="pb-8 md:pb-24">
  <Background />
  <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
    <div
      class="flex flex-col lg:flex-row mx-auto max-w-2xl lg:max-w-none gap-12">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <h1
          class="font-display text-5xl font-medium tracking-tight text-neutral-950 [text-wrap:balance] sm:text-7xl">
          {t("hero.primary")}
        </h1>
        <div class="font-display mt-6 max-w-3xl text-xl text-neutral-600">
          <p>
            {t("hero.secondary")}
          </p>
          <slot />
        </div>
      </div>
      <Image
        alt="Webllope Image"
        class="transform scale-x-[-1] drop-shadow-xl"
        loading="eager"
        width={400}
        src={heroImage}
        densities={[1.5, 2]}
      />
    </div>
  </div>
</main>
