---
import { getLangFromUrl } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

import webllopeLogo from "@assets/webllope-logo.webp";
const lang = getLangFromUrl(Astro.url);
---

<a aria-label="Home" href={getRelativeLocaleUrl(lang, ".")} class="text-2xl">
  <img
    src={webllopeLogo.src}
    alt="Webllope Logo Image"
    width="160"
    height="48"
  />
</a>
