---
import { getLangFromUrl } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";

import webllopeLogo from "@assets/webllope-bigger-logo.webp";
const lang = getLangFromUrl(Astro.url);

interface Props {
  parent?: string;
}

const { parent } = Astro.props;
---

<a aria-label="Home" href={getRelativeLocaleUrl(lang, "")}>
  <Image
    alt=`Webllope Logo ${parent} Image`
    loading={parent === "footer" ? "lazy" : "eager"}
    width={140}
    src={webllopeLogo}
    densities={[1.5, 2]}
  />
</a>
