---
interface Props {
  data: Array<{
    description: string;
    value: string | number;
  }>;
}

const { data } = Astro.props;
---

<dl
  class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:auto-cols-fr lg:grid-flow-col lg:grid-cols-none">
  {
    data.map((record) => (
      <div
        class="flex flex-col-reverse pl-8 relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px"
        style="opacity: 1; transform: none;">
        <dt class="mt-2 text-base text-neutral-600">{record.description}</dt>
        <dd class="font-display text-3xl font-semibold text-neutral-950 sm:text-4xl">
          {record.value}
        </dd>
      </div>
    ))
  }
</dl>
