---
import Background from "./background.astro";

interface Props {
  title: string;
  section?: string;
  description?: string;
}

const { section, title, description } = Astro.props;
---

<Background />
<div class="mx-auto max-w-7xl px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:max-w-none">
    <div style="opacity: 1; transform: none;">
      <h1>
        {
          section && (
            <span class="block font-display text-base font-bold text-neutral-950">
              {section}
            </span>
          )
        }
      </h1>
      <span
        class="mt-6 block max-w-5xl font-display text-5xl font-medium tracking-tight text-neutral-950 [text-wrap:balance] sm:text-6xl">
        {title}
      </span>
    </div>
    <div class="mt-6 max-w-3xl text-xl text-neutral-600">
      <p>
        {description}
      </p>
      <slot />
    </div>
  </div>
</div>
