---
import Link from "./ui/link.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import officeImage from "@assets/office2.jpg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
  <div class="flex flex-col lg:flex-row mx-auto max-w-2xl lg:max-w-none">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="max-w-2xl" style="opacity: 1; transform: none;">
        <h2>
          <span class="block font-display tracking-tight [text-wrap:balance] text-4xl font-medium sm:text-5xl text-neutral-950">
            {t("briefAboutUs.title")}
          </span>
        </h2>
        <div class="mt-6 text-xl text-neutral-600">
          <p>
            {t("briefAboutUs.firstP")}
          </p>
        </div>
        <div class="mt-6 text-xl text-neutral-600">
          <p>
            {t("briefAboutUs.secondP")}
          </p>
        </div>
        <div class="mt-6 text-xl text-neutral-600">
          <div class="flex mt-10">
            <Link href="">{t("briefAboutUs.cta")}</Link>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 sm:mt-6 lg:mt-0 lg:ml-6 mt-6">
      <img
        src={officeImage.src}
        alt="Imagen en oficina"
        class="max-w-full h-auto"
      />
    </div>
  </div>
</div>
