---
import { Image } from "astro:assets";

import GrandGambitLogo from "@assets/logos/GrandGambitLogo125.webp";
import SalonChickLogo from "@assets/logos/SalonChickLogo125.webp";
import DettagliLogo from "@assets/logos/DettagliLogo125.webp";
import NeoaestheticLogo from "@assets/logos/NeoaestheticLogo125.webp";

const clients = [
  {
    name: "SalonChick Logo",
    img: SalonChickLogo,
    width: SalonChickLogo.width,
  },
  {
    name: "Dettagli Logo",
    img: DettagliLogo,
    width: DettagliLogo.width,
  },
  {
    name: "Neoaesthetic Logo",
    img: NeoaestheticLogo,
    width: NeoaestheticLogo.width,
  },
  {
    // Pongo Gambit no Grand Gambit en el alt porque no quiero que nadie de Ergo encuentre por casualidades del SEO webllope.
    name: "Gambit Logo",
    img: GrandGambitLogo,
    width: GrandGambitLogo.width,
  },
];
---

<ul class="mt-10 grid grid-cols-2 gap-x-8 gap-y-10 lg:grid-cols-4">
  {
    clients.map((client) => (
      <li class="flex items-center">
        <Image
          alt={client.name}
          loading="lazy"
          decoding="async"
          data-nimg="1"
          src={client.img}
          style="color: transparent;"
          class="rounded-xl"
          width={client.width}
        />
      </li>
    ))
  }
</ul>
