---
import MailSmirkSmall from "@assets/logos/logo-light.mailsmirk.svg";
import PhobiaSmall from "@assets/logos/logo-light.phobia.svg";
import FamilyFundSmall from "@assets/logos/logo-light.familyfund.svg";
import UnsealSmall from "@assets/logos/logo-light.unseal.svg";
import HomeWorkSmall from "@assets/logos/logo-light.homework.svg";
import GreenLifeSmall from "@assets/logos/logo-light.greenlife.svg";
import BrightPathSmall from "@assets/logos/logo-light.brightpath.svg";
import NorthAdventuresSmall from "@assets/logos/logo-light.northadventures.svg";

const clients = [
  {
    name: "Phobia",
    img: PhobiaSmall.src,
  },
  {
    name: "Family Fund",
    img: FamilyFundSmall.src,
  },
  {
    name: "Unseal",
    img: UnsealSmall.src,
  },
  {
    name: "Mail Smirk",
    img: MailSmirkSmall.src,
  },
  {
    name: "Home Work",
    img: HomeWorkSmall.src,
  },
  {
    name: "Green Lige",
    img: GreenLifeSmall.src,
  },
  {
    name: "Bright Path",
    img: BrightPathSmall.src,
  },
  {
    name: "North Adventures",
    img: NorthAdventuresSmall.src,
  },
];
---

<ul role="list" class="mt-10 grid grid-cols-2 gap-x-8 gap-y-10 lg:grid-cols-4">
  {
    clients.map((client) => (
      <li>
        <div style="opacity: 1; transform: none;">
          <img
            alt={client.name}
            loading="lazy"
            width="184"
            height="36"
            decoding="async"
            data-nimg="1"
            src={client.img}
            style="color: transparent;"
          />
        </div>
      </li>
    ))
  }
</ul>
