---
import GrandGambitLogo from "@assets/logos/GrandGambitLogo125.webp";
import SalonChickLogo from "@assets/logos/SalonChickLogo125.webp";
import DettagliLogo from "@assets/logos/DettagliLogo125.webp";
import NeoaestheticLogo from "@assets/logos/NeoaestheticLogo125.webp";

const clients = [
  {
    // Pongo Gambit no Grand Gambit en el alt porque no quiero que nadie de Ergo encuentre por casualidades del SEO webllope.
    name: "Gambit Logo",
    img: GrandGambitLogo.src,
    width: GrandGambitLogo.width,
  },
  {
    name: "SalonChick Logo",
    img: SalonChickLogo.src,
    width: SalonChickLogo.width,
  },
  {
    name: "Dettagli Logo",
    img: DettagliLogo.src,
    width: DettagliLogo.width,
  },
  {
    name: "Neoaesthetic Logo",
    img: NeoaestheticLogo.src,
    width: NeoaestheticLogo.width,
  },
];
---
<ul role="list" class="mt-10 grid grid-cols-2 gap-x-8 gap-y-10 lg:grid-cols-4">
  {
    clients.map((client) => (
      <li>
        <div style="opacity: 1; transform: none;">
          <img
            alt={client.name}
            loading="lazy"
            decoding="async"
            data-nimg="1"
            src={client.img}
            style="color: transparent;"
            class="rounded-xl mx-auto"
            height="125"
            width={client.width}
          />
        </div>
      </li>
    ))
  }
</ul>
