---
import JaimaPuertoLogo from "@assets/logos/JaimaPuertoLogo.webp";
import SalonChickLogo from "@assets/logos/SalonChickLogo.png";
import DettagliLogo from "@assets/logos/DettagliLogo.png";
import NeoaestheticLogo from "@assets/logos/NeoaestheticLogo.webp";

const clients = [
  {
    name: "Jaima Puerto",
    img: JaimaPuertoLogo.src,
  },
  {
    name: "Salon Chick",
    img: SalonChickLogo.src,
  },
  {
    name: "Dettagli",
    img: DettagliLogo.src,
  },
  {
    name: "Neoaesthetic",
    img: NeoaestheticLogo.src,
  }
];
---

<ul role="list" class="mt-10 grid grid-cols-2 gap-x-8 gap-y-10 lg:grid-cols-4">
  {
    clients.map((client) => (
      <li>
        <div style="opacity: 1; transform: none;">
          <img
            alt={client.name}
            loading="lazy"
            decoding="async"
            data-nimg="1"
            src={client.img}
            style="color: transparent;"
            class="object-contain w-[185px] h-[60px]"
          />
        </div>
      </li>
    ))
  }
</ul>
