---
import Background from "../background.astro";
import ServiceRoadmapMessage from "./service-roadmap-message.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const paragraphs = [
  [t("roadmap.first.paragraph1"), t("roadmap.first.paragraph2")],
  [t("roadmap.second.paragraph1"), t("roadmap.second.paragraph2")],
  [t("roadmap.third.paragraph1")],
  [t("roadmap.fourth.paragraph1"), t("roadmap.fourth.paragraph2")],
  [t("roadmap.fifth.paragraph1"), t("roadmap.fifth.paragraph2")]
];
---

<div
  class="relative isolate bg-neutral-50 py-16 sm:py-28 md:py-32 mt-24 sm:mt-32 lg:mt-40">
  <Background />
  <div class="mx-auto max-w-[90rem] px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div style="opacity: 1; transform: none;">
        <div class="flex flex-col lg:flex-row">
          {
            paragraphs.map((paragraph, index) => (
              <ServiceRoadmapMessage
                paragraphs={paragraph}
                number={index + 1}
              />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
