---
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/layout.astro";
import Background from "@components/background.astro";
import WorkedWith from "@components/worked-with.astro";
import Message from "@components/message.astro";
import WorkSummary from "@components/work-summary.astro";

import JaimaPuertoLogo from "@assets/logos/JaimaPuertoLogo.webp";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="">
  <Background />
  <Hero />
  <Features />
  <div class="mt-24 rounded-4xl bg-neutral-950 py-20 sm:py-32 mb-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
          <div
            class="flex items-center gap-x-8"
            style="opacity: 1; transform: none;">
            <h2
              class="text-center font-display text-sm font-semibold tracking-wider text-white sm:text-left">
              Hemos trabajado con clientes increíbles
            </h2><div class="h-px flex-auto bg-neutral-800"></div>
          </div>
          <div>
            <WorkedWith />
          </div>
        </div>
      </div>
    </div>
  </div>
  <WorkSummary />
  <Message
    content={t("opinions.jaimapuerto.message")}
    image={{
      alt: "Phobia",
      src: JaimaPuertoLogo,
    }}
  />
  <Logos />
  <Cta />
</Layout>
